<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Facultad de Ingeniería</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div data-th-replace="layouts/header :: header"></div>
    
    <div class="container mt-4">
        <h1>Biblioteca</h1>
        <p>		La Biblioteca de Estantería Abierta de la Facultad de Ingeniería ofrece a sus socios acceso directo a sus colecciones y la posibilidad de utilizar lockers durante su estadía en el área de estanterías.
		Cuenta con un moderno sistema de videovigilancia llamado ZoneMinder, que utiliza cámaras para monitorear y analizar las áreas de control.
		El sector de estanterías está señalizado con carteles de colores y ayudas visuales para facilitar la auto-búsqueda de los socios. El material bibliográfico está organizado con bandas de colores que indican las diferentes áreas temáticas, y cada elemento tiene códigos de barra para agilizar su registro y evitar errores. Además, se utilizan alarmas para prevenir sustracciones.
		El sistema de gestión de préstamos utilizado es el Sistema Bibliotecario de la UNJu (SIBUNJU), que permite generar carnets de socio con códigos de barras, necesarios para acceder a los servicios de la biblioteca.</p>
   		
		<h2>Servicio:</h2>
		<li>
			<a>Préstamos - Devolución - Renovación: Lunes a Viernes de 07:00 a 13:00 hs y de 14:00 a 20 hs</a>
		</li>
		<li>
			<a>Solicitud o Renovación de Carnet: Modalidad Virtual, lo pueden hacer en cualquier momento del día completando el Formulario online y enviando un correo con los requisitos a biblio@fi.unju.edu.ar </a>
		</li>
		<h2>Recursos Tradicionales</h2>
		<ul>
		    <li>Libros: La biblioteca cuenta con 10.528 ejemplares, incluyendo diccionarios, enciclopedias y otros documentos.</li>
		    <li>Proyectos Finales:
		        <ul>
		            <li>Ingeniería Industrial</li>
		            <li>Ingeniería de Minas</li>
		            <li>Ingeniería Informática</li>
		            <li>Ingeniería Química</li>
		            <li>Licenciatura en Ciencias Geológicas</li>
		            <li>Licenciatura en Sistemas</li>
		            <li>Licenciatura en Tecnología de los Alimentos</li>
		            <li>Especialización en Gerencia y Vinculación Tecnológica</li>
		            <li>Especialista en Docencia Superior</li>
		            <li>Licenciatura en Enseñanza de las Matemáticas - Química</li>
		        </ul>
		    </li>
		    <li>Tesis:
		        <ul>
		            <li>Tesis Doctorales</li>
		            <li>Tesis Magister</li>
		        </ul>
		    </li>
		    <li>Prácticas:
		        <ul>
		            <li>Práctica de Fábrica de Química</li>
		            <li>Prácticas Profesionales - Ingeniería de Minas</li>
		        </ul>
		    </li>
		    <li>Revistas: Se reciben donaciones periódicas de revistas, disponibles para consulta diurna en la Sala Silenciosa.</li>
		</ul>
		
		<!-- Recursos Digitales -->
		<h2>Recursos Digitales</h2>
		<ul>
		    <li>CD/DVDs: Complementan la colección de libros como ayuda técnica para los estudiantes.</li>
		</ul>
		
		<!-- Material Visual -->
		<h2>Material Visual</h2>
		<ul>
		    <li>Videos: Recursos pedagógicos de apoyo al proceso de enseñanza-aprendizaje.</li>
		</ul>
	 </div>
    
    <div data-th-replace="layouts/footer :: footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
