<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario Académico - Facultad de Ingeniería</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div data-th-replace="layouts/header :: header"></div>
    
	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Calendario Académico - Facultad de Ingeniería</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
	    <div data-th-replace="layouts/header :: header"></div>
	    
	    <div class="container mt-4">
	        <h2>Calendario Académico</h2>
	        <h3>Fechas año 2024</h3>
	        
	        <h3>Enero 2024</h3>
	        <ul>
	            <li>01 al 31 de enero 2024 - Receso Académico de Verano</li>
	        </ul>
	        
	        <h3>Febrero 2024</h3>
	        <ul>
	            <li>01 de febrero 2024 - Inicio de Actividades</li>
	            <li>05 de febrero al 08 de marzo 2024 - CURSO DE NIVELACIÓN 2024</li>
	            <li>05 al 21 de febrero 2024 - Inscripciones 7mo turno de exámenes 2023</li>
	        </ul>
	        
	        <h3>Mesas de Exámenes Ciclo 2024</h3>
	        <ul>
	            <li>15 al 26 de abril 2024 - PRIMER TURNO ORDINARIO DE EXÁMENES (Ciclo 2024)</li>
	            <li>03 al 14 de junio 2024 - SEGUNDO TURNO ORDINARIO de Exámenes (Ciclo 2024)</li>
	            <li>29 de julio al 09 de agosto 2024 - TERCER TURNO ORDINARIO de Exámenes (Ciclo 2024)</li>
	        </ul>
	    </div>
	    
	    <div data-th-replace="layouts/footer :: footer"></div>
	    
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
	</html>

    
    <div data-th-replace="layouts/footer :: footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
