<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Formulario de Carreras</title>
</head>
<body class="bg-dark text-white">
	<header>
	        <div data-th-replace="~{layouts/header::navbar}"></div>
	    </header>    
    <div class="container mt-4">
        <h1 class="p-2">Formilario Carrera</h1>
        <form th:object="${nuevaCarrera}" th:action="${flag}?@{/modificarCarrera}:@{/guardarCarrera}" method="post" class="p-2">
            <div class="col-6">
                <label for="codigo" class="form-label">Código</label> 
                <input type="text" class="form-control bg-dark text-white" id="codigo" th:field="*{codigo}" th:readonly="${flag}" required>                
            </div>
            <div class="col-6">
                <label for="nombre" class="form-label">Nombre Carrera</label>
                <input type="text" class="form-control bg-dark text-white" id="nombre" th:field="*{nombre}" required>
            </div>
            <div class="col-6">
                <label for="cantidad" class="form-label">Cantidad Años</label>
                <input type="number" class="form-control bg-dark text-white" id="cantidad" th:field="*{cantidadAnios}">
            </div><br>
            <button type="submit" class="btn btn-primary">Guardar Carrera</button>
        </form>
    </div>
    
	<footer class="mt-5">
	    <div data-th-replace="~{layouts/footer::footer}"></div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>
